/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
.parent {
  width: 600px;
  overflow: hidden;
  margin:20px auto; 
  padding: 20px;
  background-color: #ddd;
}

.one{
  background-color: #eee;
  width: 300px;
  float: left;
  padding: 10px;
  border: 2px solid red;
}
  /*
  .parent div {
  background-color: green;
  color: white; 
  width: 1200px;
  height: 200px;
}*/


.product {
  background-color: red;
  color: white;
}

.center-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  position: relative;
}
.circle-100 {
  width: 100px;
  height: 100px;
}
.circle-200 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.circle-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* 
   Mobile


@media (max-width: 767px) and (max-width:991px){

} *//*
 Small Screens 

@media (min-width: 768px) {
  .parent div {
    width: calc(25% - 5px);
  }
}*/
 Medium Screen */ 
/* Large Screens *//* X Large Screens */ 
/* */
/* Large Screens 

@media (max-width: 1199px) {

}
.load {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.load div {
  width: 20px;
  height: 20px;
  background-color: orchid;
  border-radius: 50%;
  margin: 0 5px;
  animation-name: up-and-down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.load .two{
  animation-delay: 0.3s;
}
.load .three{
  animation-delay: 0.6s; 
}

@keyframes up-and-down {
  to {
    opacity: 0.2;
    transform: translateY(-20px); 
  }
}
div {
  width: 100px;
  height: 100px;
  background-color: #e8e3e3; 
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;

  /* animation-name: spin; */ 
  /* animation-duration: 6s; */
  /* animation-iteration-count: 1; */
  /* animation-timing-function: linear; */
  /* animation-direction: reverse; */
  /* animation-delay: -2s; */
  /* animation-fill-mode: both; */
  /* animation-play-state: running; 
  animation: coloing 3s linear 2s infinite reverse;
}

div:hover {
  animation-play-state: paused;
}
@keyframes coloing {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}
.x{
  background-color: aqua ;
}
    .container {
      margin: 40px auto;
      width: 200px;
      perspective: 600px;
    }
    .box {
      position: relative;
      width: 200px;
      height: 200px;
      transform-style: preserve-3d;
      transition: transform 1s;
      transform-origin: right center;
    }
    .box:hover {
      transform: rotateY(-180deg)
    }
    .box .face {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 30px;
      color: white;
      backface-visibility: hidden;
    }
    .box .front {

    }
    .box .back {
      background-color: green;
      transform: rotateY(180deg);
    }*/
/*<time> values 
transition-delay: 3s;
transition-delay: 2s, 4ms; 
Global values 
transition-delay: inherit;
transition-delay: initial;
transition-delay: revert;
transition-delay: revert-layer;
transition-delay: unset; */
/*
 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
.one {
  width: 100px;  العرض الأول */
  /*height: 100px;  الارتفاع الأول */
  /*background-color: red;  اللون الأول */
  /*transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out;  تأثير التحول */
  /*transition-duration: 1s;
  transition-delay: 0.5s;  تأخير بداية التحول 
}*/

/*.one:hover {
  width: 200px;  العرض بعد التحول */
  /*height: 200px;  الارتفاع بعد التحول */
  /*background-color: blue;  اللون بعد التحول 
}*/

  /*.one {
 width: 100px; /* العرض الأول */
  /* height: 100px;  الارتفاع الأول */
  /* background-color: red;  اللون الأول */
/*  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out;  تأثير التحول 
    transition-delay: 0.5s; 
}

/*  /*
.one:hover {

}*/
 /*
 .user {
  background-color: #eee;
  width: 50px;
  margin-right: 20px;
  margin-right: 10px;
  height: 55.5px;
  font-size: 50px;
  text-align: center;
}
div {
  width: 100px;

  background-color: red;

  border-radius: 50%;  

  position: relative; 
}
div::after{
  content: '';
  position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
} */

/*
div {
  padding: 20px;
  background-color: #eee;
  margin:20px auto;
  width: 300px;

}*/
/*
.two {
    
  border: 2px solid red; 
  border-top-left-radius: 20px 20px;
  border-bottom-right-radius: 20px; 
  border: 2px solid red;
  margin:20px auto; 
  border-radius: 6px; 
} */

/*
.one{
  transition-behavior: inherit;
  transition-behavior: initial;
  transition-behavior: revert;
  transition-behavior: revert-layer;
  transition-behavior: unset;
  transition: margin-right 2s;
  transition: margin-right 2s .5s;
  transition: margin-right 2s ease-in-out;
  transition: margin-right 2s ease-in-out .5s;
  transition: margin-right 2s, color 1s;
  transition: all 1s ease-out;
  * Apply to 1 property */
/* property name | duration 
transition: margin-right 4s; */

/* property name | duration | delay 
transition: margin-right 4s 1s;

/* property name | duration | easing function 
transition: margin-right 4s ease-in-out;

/* property name | duration | easing function | delay 
transition: margin-right 4s ease-in-out 1s;

/* property name | duration | behavior 
transition: display 4s allow-discrete;

/* Apply to 2 properties 
transition:
  margin-right 4s,
  color 1s;*/

/* Apply to all changed properties
transition: all 0.5s ease-out allow-discrete;
transition: 200ms linear 50ms;*/

/* Global values 
transition: inherit;
transition: initial;
transition: revert;
transition: revert-layer;
transition: unset;
transition:
  all 200ms,
  opacity 400ms;
  /* Keyword values *
transition-behavior: allow-discrete;
transition-behavior: normal;*/

/* Global values */


/*
div {
  width: 200px;
  height: 200px;
  background-color: red;
  margin:20px auto; 
  border-radius: 50%; 
  border: 2px solid red; 
}
/*

.circle-input {
width: 200px; /* قم بتعيين العرض */
/*  height: 200px;  قم بتعيين الارتفاع */
/* border-radius: 50%;  جعل الحواف دائرية */
/* border: 2px solid black; اختياري: إضافة حدود 
}
*/

/*.circle-input {
  width: 200px;  قم بتعيين العرض */
 /*  height: 200px; قم بتعيين الارتفاع */
/*  border-radius: 50% / 50%;  جعل الحواف دائرية */
/*  border: 2px solid black;  اختياري: إضافة حدود 
}
*/

/*
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
*/

/*
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
*/
 /* .class{
     -webkit-border-radius: 10px
    moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; 
  }*/

/*
  [1] Most of Users Is Using Modern Browsers
  [2] Vs Code Addon To Add The Prefix
  [3] Task Runner
/*

  /* .one .pipeline {
  position: absolute;
  width: 20px;
  width: 5px;
  height: 100%;
  right: -10px;
  top: 0;
  background-color: #009688;
} ul li{
  list-style: none;
}
ul li{
  position: relative;
}
ul li:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #009688 transparent transparent;
}
.one{
  background-color: red;
  color: white
}
.two{
  background-color: ;

  height: 100px;
}

p {
  background-color: #eee;
  width: 100px;
  height: 100px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover{
  color: red;
} 

.ch:checked {
  display: none;
}
a:visited {
  color: blue;
}

.in{
  border: 2px solid black;
}

.in:focus {
  border-color: red;
  outline: none;
  display: inline-block;
  color:;
  font-size: 60px;
  font-weight: bold;
  White-space: nowrap;
  text-overflow: ellipsis
  display: inline-block;
}
.one::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #009688 transparent transparent;
}
.parent{
  margin-bottom: 20px;
  overflow: hidden;
  counter-increment: members-counter;
}

.one::after {
  content: counter(members-counter);
  position: absolute;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  right: -10px;
  top: 50%;
  margin-top: -10px;
}

.three::first-line{
  font-weight: bold;
  color: green;
}

.four::selection {
  background-color: black;
  color: yellow;
}

hr {
  margin: 20px 0;
}
.shape {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #eee;
}
.shape .x-axis::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: -20px;
  position: absolute;
}
.shape .x-axis::after {
  content: "X-Axis";
  position: absolute;
  bottom: -28px;
  left:  50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 60px;
  text-align: center;
  font-weight: bold;
}
.shape .y-axis::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: black;
  left: -20px;
  position: absolute;
}
.shape .y-axis::after {
  content: "Y-Axis";
  position: absolute;
  left: -28px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  height: 60px;
  text-align: center;
  font-weight: bold;
  writing-mode: vertical-lr;
}
.shape .z-axis::before{
  content: "";
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
  transform-origin: -5px 105%;
  transform: rotate(-140deg);
}
.z-axis::after{
  content: "Z-Axis";
  position: absolute;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  left: -50%;
  bottom: -52%;
  transform: rotate(-50.3deg);
}
.shape > div {
  width: 90%;
  height: 90%;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin-left: 5%;
  margin-top: 5%;
  transition: 0.5s
}
.shape .origin {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}
.shape > div{
  transform: matrix(1.2, 0.2679, 0, 1.2, 20, 20);
  transform: translateX(20px) translateY(20px) scaleX(1.2) skewY(15deg) skewX(0deg) scaleY(1.2) ;
}
.shape {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 200px;
  height: 200px;
  background-color: #eee;   
}

.shape > div {
  width: 90%;
  height: 90%;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5%;
  margin-left: 5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  transform: scaleX(2);
  transform: scaley(2);

}

.parent {
  width: 150px;
  margin: 20px auto;
  height: 500px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.parent div {
  background-color: red;
  margin: 200px auto;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.page {
  height: 100vh;
  grid-template-columns: repeat(10, 1fr);
} 
 
h2 {
  grid-area: logo;
  color: white;
}
nav {
  grid-area: nav;
  background-color: blue;
  color: white;
}
section {
  grid-area: cont;
  background-color: yellow;
  color: white;
}

aside {
  grid-area: side;
  background-color: green;
  color: white;
}

footer {
  grid-area: foot;
  background-color: black;
  color: white;
}


}
  a:hover {
  color: red;

}
div{
  height: 200px;
  position: relative;
  padding: 10px;
  color: white;
    width: 800px;
   grid-template-columns: repeat(4);
   row-gap: 10px;
  column-gap: 10px; 

  font-weight: bold;
  text-align: center;
  margin: 20px auto;
    --mainColor: blue;
  --mainPadding: 10px;
    column-gap:; 
}
div:before{
  content: "";
  position: absolute;
  top: -5px;
  height: 10px;
  grid-template-rows: repeat(3);
  background-image: linear-gradient(
    to right,
   #2980b9 20%,
   #27ae60 20%,
   #27ae60 40%,
   #d35400 40%, 
   #d35400 60%, 
   #8e44ad 60% , 
   #8e44ad 80%, 
   #c0392b 80%);
}
ul {
  list-style: none;
}
ul li{
  display: inline-block;
}


img{
  transition: 0.3s;
}

img:hover {
  filter: invert(0);
}


.flex {
  background-color: ;
  width: 800px;
  position: relative;
  display: flex;
}
.flex div {
  background-color: #f00;
  color: white;
  width: 80px;

  padding: 20px;
  margin-right: 5px;
  flex-grow: 1;
}

.in {
  display: inline-block;
}
.float {
  overflow: hidden; 
  background-color: minmax(200px, 600px) #eee;
  width: 600px;
  padding: 20px;
  margin: 20px auto;
}
.float div {
  background-color: #f00;
  color: white;
  float: left;
  width: calc(94% / 3);
  padding: 20px;
}
.flex .one,
.float .one {
  height: 80px;
}
.flex .two,
.float .two {
  height: 120px;
}
.center {
  background-color: blue;
  color: white;

}
.flex {
  overflow: hidden;
  background-color: #eee;
  width: 600px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
}
.flex div {
  background-color: #f00;
  width: 25%;
  text-align: center;
  display: flex;
}
p {
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  padding: var(--mainPadding);
}
a:hover {
  color: var(--mainColor);
}
.local{
  --mainColor: black;
  background-color: var(--mainColor);
  color: white
}

.up {
  height: 80px;
  margin-bottom: 40px;
}
.down {
  background-color: red;
  color: white;
  height: 80px;
  margin-top: 20px;
}
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
width: 200px;
  height: 100px;
 transition-duration: 1s;
  transition-delay: 0.2s; 
  transition-property: width; 
  transition-timing-function: ease-in-out; 
  transition: all 2s 0.5s linear; opacity: 1; 
  animation: name 1sSs  2s ease-in;  opacity: 1; 
  width: 280px
  height: 120px;
  Syntax => matrix( scaleX(), skewY() , skewX() , scaleY(), translateX(), translateY() );
  */

